@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body{
  font-family: 'DM Sans', sans-serif;
}

.border{
  border: black 2px solid;
}

.p{
padding: 8px;
}
.headingStyle{
  font-size: 24px;
  font-weight: bold;
  font-family: 'DM Sans', sans-serif;
}
.paddingStyle{
  font-size: 14px;
  font-family: 'DM Sans';
  color: #171717;
}
.paddingStyle2{
  font-size: 14px;
  font-family: 'DM Sans';
  color: #171717;
}
.aggregat {
  font-size: 13px;
  font-family: 'DM Sans';
}
.backgrou{
  border: 1px solid #F9F8F8;
  background-color: #F9F8F8;
}
.cantseebank {
  color: #FC004C;
  font-size: 14px;
  font-weight: bold;
}
.buttoncontinue{
  background-color: #2C64E3;
  position: absolute;
  bottom: 30px;
}

.detailacch{
  font-weight: bold;
  font-family: 'DM Sans', sans-serif;
}
.detailaccp{
  font-size: 14px;
}
.linkanothera{
  font-size: 16px;
}

.consentaccepted{
  font-size: 22px;
  font-weight: bold;
}

.backgrou2{
  border: 1px solid #F9F8F8;
  background-color: #F9F8F8;

}